/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home section */
.home {
  background: linear-gradient(180deg, rgb(85.36, 112.62, 144.62) 79.27%, rgba(186, 189, 141, 0.56) 100%);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row-reverse; /* Move the image to the right */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

.home .image {
  height: 400px;
  width: 30%;
  border-radius: 20%;
}

.home .Zizi {
  height: 200px;
  max-width: 1000px;
  margin-top: 1rem;
 
}

.home .overlap-group {
  background-color: #070606;
  border-radius: 34px;
  height: 77px;
  width: 242px;
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .text-wrapper {
  color: #fff6f6;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin-top: 1rem;
  text-align: left; /* Align text to the left */
  padding-left: 2rem;
}

.home .linked-in{
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  left: 120px;
}
.home .git-hub {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-top: 2rem;
  position: absolute;
  bottom: 0px;
  left: 20px;
}

/* Navigation */
.nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: rgba(233, 239, 242, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav .navigation {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav .navigation li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav .logo {
  height: 60px;
  object-fit: cover;
}
/* AboutMe Section */
.about-me {
  background: linear-gradient(
    180deg,
    rgb(60.11, 130.12, 157.37) 0%,
    rgba(22.44, 117.03, 153.85, 0.69) 83.85%,
    rgba(22.44, 117.03, 153.85, 0) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  height: 1116px;
  position: relative;
  width: 1368px;
}

.about-me .rectangle {
  height: 632px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 162px;
  width: 409px;
}

.about-me .my-name-is-zizile {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 638px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 325px;
  width: 607px;
}

.about-me .overlap-group {
  background-color: #100e0e;
  border-radius: 34px;
  height: 77px;
  left: 752px;
  position: absolute;
  top: 717px;
  width: 207px;
}

.about-me .text-wrapper {
  color: #fffcfc;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
}

.about-me .download-removebg {
  height: 100px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 1016px;
  width: 100px;
}

.about-me .img {
  height: 100px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 1016px;
  width: 100px;
}
