/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* footer */

.footer .linked-in{
  height: 80px;
  width: 80px;
  object-fit: cover;
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  left: 100px;
}
.footer .git-hub {
  height: 80px;
  width: 80px;
  object-fit: cover;
  margin-top: 2rem;
  position: absolute;
  bottom: 0px;
  left: 20px;
}

/* Home section */
.home1{
  background: linear-gradient(180deg, rgb(85.36, 112.62, 144.62) 79.27%, rgba(186, 189, 141, 0.56) 100%);
  background-color: rgba(255, 255, 255, 1);
}
.home {

  display: flex;
  flex-direction: row-reverse; 
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

.home .image {
  height: 330px;
  width: 24%;
  border-radius: 8%;
  left: 10px;
}

.home .Zizi {
  height: 200px;
  max-width: 800px;
  margin-top: 1rem;

}


.Zizi h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.para{
  font-size: 16px;
  margin-top: 10px;
  color: #f5e7e7;
}


.home .button {
  background-color: #070606;
  border-radius: 34px;
  height: 77px;
  width: 240px;
  margin-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.home .text-wrapper {
  color: #fff6f6;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin-top: 1rem;
  text-align: left; 
  padding-left: 2rem;
}



/* Navigation */
.nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: rgba(59, 88, 102, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav .navigation {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav .navigation li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav .logo {
  height: 60px;
  object-fit: cover;
}
/* AboutMe Section */
.about-me {
  background: linear-gradient(
    180deg,
    rgb(60, 130, 157) 0%,
    rgba(22, 117, 153, 0.69) 83.85%,
    rgba(22, 117, 153, 0) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  height: 130vh;
  position: relative;
  width: 100%;
}

.about-me .mee {
  height: 70vh;
  left: 10%;
  object-fit: cover;
  position: absolute;
  top: 20vh;
  width: auto;
  max-width: 30%;
  border-radius: 100px;
}

.about-me .my-name-is-zizile {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  left: 50%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40vh;
  /* width: 607px; */
 
}

.about-me .overlap-group {
  background-color: #100e0e;
  border-radius: 34px;
  height: 77px;
  left: 900px;
  position: absolute;
  top: 500px;
  width: 207px;
}

.about-me .text-wrapper {
  color: #fffcfc;
  font-family: "Inter-Regular", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
}

.about-me .download-removebg {
  height: 100px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 1016px;
  width: 100px;
}

.about-me .img {
  height: 100px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 1016px;
  width: 100px;
}

/* ReadMoreButton Page */
.read-more-button {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.read-more-button .div {
  background: linear-gradient(180deg, rgb(60, 130, 157) 86.62%, rgba(243.43, 238.02, 238.02, 0) 100%);
  background-color: rgba(255, 255, 255, 1);
  height: 1229px;
  position: relative;
  width: 1368px;
}

.read-more-button .my-name-is-zizile {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 190px;
  width: 615px;
}

.read-more-button .technical-skills {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 709px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 190px;
  width: 633px;
}

.read-more-button .personal-touch {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 709px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 678px;
  width: 636px;
}

.read-more-button .download-removebg {
  height: 100px;
  left: 129px;
  object-fit: cover;
  position: absolute;
  top: 1102px;
  width: 100px;
}

.read-more-button .img {
  height: 100px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 1102px;
  width: 100px;
}

.read-more-button .nav-bar {
  height: 117px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1368px;
}

.read-more-button .logo {
  height: 93px;
  left: 69px;
  object-fit: cover;
  position: fixed;
  top: 10px;
  width: 120px;
}

.read-more-button .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 324px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 38px;
}

.read-more-button .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 477px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 38px;
}

.read-more-button .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 716px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 38px;
}

.read-more-button .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 909px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 38px;
}

.read-more-button .rectangle {
  background-color: #000000;
  border-radius: 90px;
  height: 60px;
  left: 1099px;
  position: fixed;
  top: 31px;
  width: 227px;
}

.read-more-button .text-wrapper-5 {
  color: #ee3131;
  font-family: "Inter-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 1152px;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  top: 41px;
}

/* Projects Section */
.projects {
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(153.36, 201.66, 233.54, 0.25) 15.07deg,
    rgba(152.14, 102.44, 102.44, 0) 43.08deg,
    rgba(63.21, 138.9, 181.48, 0.62) 159.89deg,
    rgb(16, 86, 110) 246.88deg
  );
  background-color: rgba(255, 255, 255, 1);
  height: 160vh;
  position: relative;
  width: 100%;
}

.projects .bank {
  display: block;
  height: 330px;
  left: 590px;
  object-fit: cover;
  position: absolute;
  top: 239px;
  width: 260px;
  border-radius: 20%;
}

.projects .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 355px;
  left: 953px;
  padding: 10px;
  position: absolute;
  top: 239px;
  width: 260px;
}

.projects .chat {
  height: 330px;
  margin-bottom: -16px;
  margin-right: -37px;
  object-fit: cover;
  position: relative;
  width: 260px;
  border-radius: 20%;
  left: 65px;

}

.projects .Tax {
  display: block;
  height: 330px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 239px;
  width: 260px;
  border-radius: 20%;
}

.projects .overlap {
  background-color: #3f8bb5;
  border-radius: 23px;
  height: 250px;
  left: 496px;
  position: absolute;
  top: 633px;
  width: 409px;
}

.projects .overlap-group {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: 51px;
  left: 283px;
  position: absolute;
  top: 109px;
  width: 120px;
}

.projects .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.projects .div {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
}

.projects .div-wrapper {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: 51px;
  left: 5px;
  position: absolute;
  top: 106px;
  width: 120px;
}

.projects .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.projects .overlap-2 {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: 51px;
  left: 144px;
  position: absolute;
  top: 106px;
  width: 120px;
}

.projects .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.projects .overlap-3 {
  background-color: #3f8bb5;
  border-radius: 40px;
  height: 250px;
  left: 941px;
  position: absolute;
  top: 633px;
  width: 409px;
}

.projects .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
}

.projects .overlap-4 {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: 51px;
  left: 107px;
  position: absolute;
  top: 162px;
  width: 195px;
}

.projects .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.projects .overlap-5 {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: 51px;
  left: 66px;
  position: absolute;
  top: 103px;
  width: 120px;
}

.projects .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
}

.projects .overlap-6 {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: 51px;
  left: 204px;
  position: absolute;
  top: 103px;
  width: 120px;
}

.projects .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
}

.projects .overlap-group-2 {
  background-color: #3f8bb5;
  border-radius: 23px;
  height: 250px;
  left: 39px;
  position: absolute;
  top: 633px;
  width: 415px;
}

.projects .overlap-7 {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: 51px;
  left: 113px;
  position: absolute;
  top: 168px;
  width: 158px;
}

.projects .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.projects .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 105px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
}

.projects .overlap-8 {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: 51px;
  left: 50px;
  position: absolute;
  top: 103px;
  width: 120px;
}

.projects .text-wrapper-10 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.projects .overlap-9 {
  background-color: #d9d9d9;
  border-radius: 30px;
  height: 51px;
  left: 240px;
  position: absolute;
  top: 106px;
  width: 120px;
}

.projects .text-wrapper-11 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.projects .download-removebg {
  height: 100px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1016px;
  width: 100px;
}

.projects .download-removebg-2 {
  height: 100px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 1016px;
  width: 100px;
}
 /* Contacts */
 